@import "/home/nicholas/.cache/wal/colors-waybar.css";
* {
    font-size: 13px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    padding: 0;
}

window#waybar {
    background: @color4;
    color: #fdf6e3;
}

menu {
    background: #1a1a1a;
    color: @color3;
    border: none;
}

menuitem {
    color: @color6;
}

menuitem:hover {
    color: @color5;
    border-color: @color5;
    background: @background;
}

tooltip {
    background: @background;
    color: @color3;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#bluetooth,
#disk,
#tray,
#custom-power,
#power-profiles-daemon,
#cava,
#network,
#custom-mediaplayer,
#custom-icon,
#image,
#tags,
#mpris {
    background: @background;
    padding-right: 1px;
    padding-left: 1px;
}

#tags {
    margin-right: 4px;
}

#tags button {
    border-radius: 0px;
    color: @color7; 
    font-weight: bold;
}

#tags button.focused {
    background: @color4;
}


#pulseaudio {
    color: @color1;
}

#cava {
    color: @color3;
    padding-right: 6px;
}

#cava.silent {
    padding: 0;
    margin: 0;
}

#memory {
    color: @color2;
}

#cpu {
    color: @color4;
}

#battery {
    color: @color5;
}

#battery.charging {
    color: green;
}

#battery.critical {
    color: red;
}

#disk {
    color: @color5;
}

#network {
    color: @color6;
}

#bluetooth {
    color: @color9;
    font-size: 1.2rem;
}

#power-profiles-daemon {
    padding-left: 1px;
    padding-right: 11px;
    color: @color7;
}

#custom-power {
    color: @color8;
    font-size: 1rem;
    padding-right: 0px;
    padding-left: 0px
}

#clock,
#memory,
#cpu,
#battery,
#diski,
#network,
#pulseaudio {

    padding-left: 4px;
    padding-right: 4px;
}

#clock.1 {
    color: @color5;
}

#clock.2 {
    color: @color6;
}

#clock.3 {
    color: @color7;
}

#taskbar button {
    padding-left: 4px;
    padding-right: 4px;
}

#taskbar button.active {
    border: 1px solid @color5;
}


#taskbar button:hover {
    border: solid 1px @color5;
}

#mpris {
    color: @color2;
    padding-right: 4px;
    padding-left: 4px;
}

#custom-icon {
    font-size: 1.2rem;
    color: @color4;
    padding-right: 6px;
    padding-left: 4px;
}
